<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/landing.css">
    <title>Africa for Mozambique</title>
  </head>

  <body>
    <div class="container">
      <img src="../images/logo2.jpg" alt="Afria for Mozambique Logo">

      <p>
        Africa for Mozambique is a task force commissioned by Global Pan
        Africanism Network in collaboration with Association of University
        Students of the University of Eduardo Mondlane (AEU-UEM), in rapid
        response to the devastation caused by Cyclone Ida in Mozambique.
      </p>

      <img src="../images/img1.jpg">

      <p>
        The nature of the collaboration sees Africa for Mozambique sourcing and
        forwarding relief aid and expertise from the various regions where it is operational, and handing over the raised relief aid
        to AEU-UEM., which is on the ground in Mozambique, for delivery and
        implementation in disaster areas. Since the disaster, AEU-UEM has been
        able to deliver 14 tonnes of relief aid.
      </p>

      <img src="../images/img2.jpg">

      <h2>Critical Aid Items Needed</h2>
      <ul>
        <li>Hygiene Materials</li>
        <li>Medications</li>
        <li>Clothing</li>
        <li>Food</li>
        <li>Money (Logistics)</li>
      </ul>

      <video src="../images/video.mp4" controls></video>

      <h2>How to help</h2>

      <strong>Donate directly to AEU-UEM</strong>
      <p>
        AEU-UEM purchases items in Maputo, Mozambique which remains unaffected
        by the cyclone and ships aid items from Port of Maputo to Beira
      </p>

      <div id="donations">
        <a href="https://www.paypal.me/aeuuemmz" target="_blank">
          <p>Donate via PayPal</p>
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        </a>

        <div>
          <strong>Alternatively please use bank transfer</strong>
          <p>Bank Name: Barclays Bank (Mozambique)</p>
          <p>Account Holder: AEU-UEM</p>
          <p>Account Number: 0038102006495</p>
          <p>Entity Number: 99908</p>
          <p>Reference: 0060397639</p>
        </div>
      </div>

      <div id="drop-collect">
        <div>
          <strong>Donate at a drop off point</strong>
          <p>East London</p>
          <p>Trinity Methodist Church, Oxford Street</p>
          <p>Contact Person: Awonke - 066 044 2307 (Whatsapp too)</p>
          <br>
          <p>Umtata</p>
          <p>04 Craister Street, Imizi Court, Town</p>
          <p>Contact Person: Babalwa - 066 220 6294 & 0762875428</p>
        </div>

        <div>
          <strong>Collections</strong>
          <p>
            Organisations and individuals that have collected big quantities may
            request a pickup from the contact persons above.
          </p>
        </div>
      </div>

      <div id="reliefaid">
        <div>
          <strong>Aid Forwarding</strong>
          <p>Forwarding Address:</p>
          <p>Number: 34533, Av. Julius Nyerere</p>
          <p>Caixa Postal 257</p>
        </div>

        <div>
          <strong>Relief Aid Recieving Contact Person</strong>
          <p>Mrs. Hortencia Franco</p>
          <p>UAE-UEM</p>
          <p>+258 84 736 4199</p>
          <p>hortenciafranco2@gmail.com</p>
        </div>
      </div>

      <h2>Contact Information</h2>

      <div id="contactinfo">
        <div>
          <strong>Africa for Mozambique</strong>
          <p>24 Palm Grove, Gonubie,</p>
          <p>East London, South Africa</p>
          <p>+27 660 442 307</p>
        </div>

        <div>
          <strong>AEU-UEM</strong>
          <p>July 25th Place C.P 257</p>
          <p>africaformozambique@gmail.com</p>
          <p>+258842715106</p>
        </div>
      </div>

      <div id="captionedImages">
        <div class="captionedImage">
          <img src="../images/event-img1.jpg" alt="">
          <p>Mrs Nosisa Ndudula, handing over Africa for Mozambique 21 bags of clothes and shoes. (East London)</p>
        </div>

        <div class="captionedImage">
          <img src="../images/event-img2.jpg" alt="">
          <p>Awonke Mbete (Organisation Development) & Nelisa Ndayi (Public Relation) on the campaign trail at Kumkani Community Radio Station</p>
        </div>

        <div class="captionedImage">
          <img src="../images/event-img3.jpg" alt="">
          <p>Mlibo Qoboshiyane (Deputy Speaker at EC Legislature) speaking at Africa for Mozambique Prayer</p>
        </div>

        <div class="captionedImage">
          <img src="../images/event-img4.jpg" alt="">
          <p>Poster for Africa for Mozambique Prayer</p>
        </div>

        <div class="captionedImage">
          <img src="../images/event-img5.jpg" alt="">
          <p>Mama Sizane of NU3 Mdantsane was the first person in East London to donate to our cause</p>
        </div>

        <div class="captionedImage">
          <img src="../images/event-img6.jpg" alt="">
          <p>Nelisa Ndayi (Public Relations) speaking at Africa for Mozambique Prayer</p>
        </div>
      </div>

      <div id="logos">
        <div id="logo1"></div>
        <div id="logo2"></div>
        <div id="logo3"></div>
      </div>
    </div>
  </body>
</html>
