<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/landing.css">
    <title>Africa for Mozambique</title>
  </head>

  <body>
    <div class="container">
      <h1>Africa for Mozambique</h1>
      <h2>
        Request for Relief Aid for Areas in Mozambique Affected by Cyclone Idai
      </h2>

      <p>
        This document serves as a formal request for relief aid and assistance
        for areas affected by the recent cyclone that devastated parts of
        Mozambique, by Africa for Mozambique, a task force commisioned by Global
        Pan Africanism Network in collaboration with Association of University
        Students of the University of Eduardo Mondlane (AEU-UEM).
      </p>

      <p>
        The nature of the collaboration sees Africa for Mozambique sourcing and
        forwarding relief aid and expertise from the various regions of the
        globe, where it is operational, and handing over the raised relief aid
        to AEU-UEM., which is on the ground in Mozambique, for delivery and
        implementation in disaster areas. Since the disaster, AEU-UEM has been
        able to deliver 14 tonnes of relief aid.
      </p>

      <p>Critical Aid Items</p>
      <ul>
        <li>Hygiene Materials</li>
        <li>Medications</li>
        <li>Clothing</li>
        <li>Food</li>
      </ul>

      <p>
        We encourage all entities which are able, to please forward aid items
        directly to the forwarding address below. If an entitity is unable to
        forward aid directly and needs assistance Africa for Mozambique can
        assist in this regard. With all of the above considered, we prefer that
        donors make cash donations. This is because we prefer to avoid the
        logistical cost of getting the goods to Maputo, where they are shipped
        to disaster areas. Maputo has enough stock for UAE-UEM to purchase the
        aid items within Mozambique and forward to disaster areas.
      </p>

      <h2>
        Official Invitation to Attend & Participate in Africa for Mozambique
        Prayer
      </h2>

      <p>
        This communication serves as the official invitation to all individuals
        and public stakeholders to attend and participate in the Africa for
        Mozambique prayer.
      </p>

      <strong>Event Details</strong>
      <br>Name: Africa for Mozambique Prayer
      <br>Purpose: To rally support for areas in Mozambique devastated by
          cyclone Idai.
      <br>Date: 31 March 2019
      <br>Time: 17:30 - 19:00
      <br>Venue: Trinity Methodist Church
      <br>Main Speaker: Bishop Andile Mbete

      <br><br><strong>Who is organising this event?</strong>
      <p>
        The event is organised by Africa for Mozambique, a task force
        commissioned by Global Pan Africanism Network in collaboration with
        Association of University Students of the University of Eduardo
        Mondlane (AEU-UEM).
      </p>

      <p>
        The nature of the collaboration sees Africa for Mozambique sourcing
        and forwarding relief aid and expertise from the various regins of the
        globe, where the movement is active, and handing over the raised relief
        aid to AEU-UEM, which is on the ground in Mozambique, for delivery and
        implementation in disaster areas. Since the disaster, AEU-UEM has been
        able to deliver 14 tonnes of relief aid.
      </p>

      <strong>How can my organisation participate?</strong>
      <p>
        Organisation wishing to be a part of the programme sections, Messages
        of Support and The Signing of Memorandums of Support for Mozambique may
        contact Africa for Mozambique SA Representative Nelisa Ndayii at
        0846578237 or 0660442307.
      </p>

      <div id="racp">
        <br><strong>Relief Aid Contact Person</strong>
        <br>Ms. Teboho Sempe
        <br>Africa for Mozambique
        <br>+27 72 400 9502
        <br>africaformozambique@gmail.com
      </div>

      <div id="bd">
        <br><strong>Banking Details</strong>
        <br>Bank Name: Barclays Bank
        <br>Account Holder: AEU-UEM
        <br>Account Number: 0038102006495
        <br>Reference: 0060397639
      </div>

      <div id="fa">
        <br><strong>Forwarding Address</strong>
        <br>Number: 34533, Av.Julius Nyerere
        <br>Caixa Postal 257
      </div>

      <div id="rarcp">
        <br><strong>Relief Aid Receiving Contact Person</strong>
        <br>Mrs. Hortencia Franco
        <br>Univerdade Eduardo Mondlane (UEM)
        <br>+258 84 736 4199
      </div>
    </div>
  </body>
</html>
